{% extends "base-rtl.html" %}

{% set meta_description = "" %}

{% block title %}سوبر جل - شروط الضمان{% endblock %}

{% block page_stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/terms_guarantee-style.css') }}" />
{% endblock %}

{% block page_body %}
<div class="container pt-5 pb-5 text-right">
  <h1>شروط الضمان</h1>
  <small class="text-muted">آخر تحديث في 13 مارس 2024</small>

  <div class="hr-container">
    <hr class="hr-text" />
  </div>

  <h2>شروط المطالبات المقبولة</h2>
  <br />
  <h3>1. الالتزام الصارم بتعليمات الاستخدام:</h3>
  <p>يجب أن يكون صاحب المطالبة قد اتبع بدقة تعليمات الاستخدام المقدمة مع منتج سوبر جل. ويشمل ذلك الالتزام بالجرعة الموصى
    بها وطرق الاستخدام والمناطق المستهدفة المحددة في التعليمات. أي مخالفة لهذه التعليمات قد تؤثر على فعالية المنتج وتبطل
    المطالبة.</p>

  <h3>2. الأدلة المصورة والمكتوبة</h3>
  <p>إثبات أي مطالبة بالأدلة المصورة والمكتوبة التي تثبت عدم الفعالية المزعومة.</p>
  <p><strong>الأدلة المصورة</strong>: قدم صوراً أو مقاطع فيديو واضحة وعالية الوضوح للمناطق المعالجة قبل وبعد الاستخدام.
    يجب أن تصور هذه الصور المرئية بوضوح وجود الصراصير أو النمل وكذلك استخدام سوبر جل. يُفضل تقديم صور أو مقاطع فيديو
    محددة زمنياً للتحقق من صحة الصور أو مقاطع الفيديو.</p>
  <p><strong>أدلة مكتوبة</strong>: إلى جانب الأدلة المصورة، قدم سرداً مكتوباً مفصلاً لعملية التطبيق. قم بتضمين التواريخ
    والأوقات والخطوات المحددة المتبعة أثناء التطبيق. يعمل هذا الدليل المكتوب على توفير السياق وإثبات فعالية المنتج.</p>

  <br />

  <h2>إجراءات تقديم المطالبات:</h2>
  <p>1. <strong>تواصل معنا</strong>: تواصل على الفور مع فريق دعم العملاء لدينا في غضون فترة زمنية معقولة من وقت التطبيق
    الأول. تشمل قنوات التواصل البريد الإلكتروني أو الهاتف أو عبر الواتس اب.</p>
  <p>2. <strong>تقديم أدلة شاملة</strong>: قم بتجميع وتقديم أدلة شاملة مصورة ومكتوبة لدعم المطالبة. تأكد من أن جميع
    الأدلة واضحة ودقيقة وذات صلة بالمشكلة المطروحة.</p>
  <p>3. <strong>عملية مراجعة شاملة</strong>: : سيقوم فريقنا المتخصص بإجراء مراجعة شاملة للأدلة المقدمة. تتضمن عملية
    المراجعة هذه تدقيقًا دقيقًا لتقييم صحة المطالبة وتحديد مسار العمل المناسب.</p>
  <p>4. <strong>القرار</strong>: إذا اعتُبرت المطالبة صحيحة بناءً على الأدلة المقدمة، سيتم اتخاذ الإجراءات المناسبة
    لمعالجة المشكلة. قد تشمل الحلول المحتملة استبدال المنتج أو استرداد المبلغ أو علاج بديل حسبما تراه شركة الذيفاني
    للتجارة والاستثمار مناسباً.</p>
  <br />
  <br />

  <p class="text-muted"><strong>ملاحظة</strong>: تنطبق شروط وأحكام شركة الذيفاني للتجارة والاستثمار على جميع المطالبات
    المقدمة بموجب هذه التوثيقة.</p>
</div>
{% endblock %}