{% extends "base-rtl.html" %}

{% set meta_description = "" %}

{% block title %}سوبر جل - الشروط والأحكام{% endblock %}

{% block page_stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/terms_and_conditions-style.css') }}" />
{% endblock %}

{% block page_body %}
<div class="container pt-5 pb-5 text-right">

  <h1>الشروط والأحكام</h1>
  <small class="text-muted">آخر تحديث في 13 مارس 2024</small>

  <div class="hr-container">
    <hr class="hr-text" />
  </div>

  <h2>الموافقة على شروطنا القانونية</h2>
  <br />
  <div>
    <p>نحن شركة الذيفاني للتجارة والاستثمار ("الشركة" أو "نحن" أو "لنا")، شركة مسجلة في سلطنة عمان وتقع في المسفاة
      الغربية، مسقط. نحن ندير الموقع الإلكتروني https://aldhaifanispc.com (الموقع)، بالإضافة إلى أي منتجات وخدمات أخرى
      ذات صلة تشير أو ترتبط بهذه الشروط القانونية ("الشروط القانونية") (يشار إليها جميعًا باسم "الخدمات").</p>
    <p>شركة الذيفاني للتجارة والاستثمار هي شركة رائدة متخصصة في تصنيع حلول مبتكرة لمكافحة الآفات، بما في ذلك منتجنا
      الرئيسي سوبر جل. تأسست شركتنا بالتزامها بالتميز، وقد رسخت شركتنا مكانتها كاسم موثوق به في هذا المجال. في شركة
      الذيفاني للتجارة والاستثمار، نفخر في شركتنا بتفانيها في البحث والتطوير، مما يضمن أن تكون منتجاتنا في قمة التقدم
      التكنولوجي. ومن خلال التركيز على الاستدامة والمسؤولية البيئية، نسعى جاهدين لتوفير حلول فعالة لمكافحة الآفات التي
      تقلل من الضرر الذي يلحق البيئة. وباعتبارنا شركة عمانية ذات قدرات تصنيع محلية، فنحن متجذرون بعمق في مجتمعنا
      وملتزمون بالتمسك بأعلى معايير الجودة والنزاهة. يعمل فريقنا بلا كلل لتقديم منتجات فائقة تفوق توقعات العملاء مع
      الالتزام بمعايير السلامة والمعايير التنظيمية الدقيقة. تواصل شركة الذيفاني للتجارة والاستثمار الابتكار والتطور ووضع
      معايير جديدة للتميز في مجال مكافحة الآفات، وذلك من خلال رؤيتها الهادفة إلى تحقيق بيئة صحية وخالية من الآفات. ثق
      بنا للحصول على حلول موثوقة تعطي الأولوية للفعالية والسلامة والاستدامة البيئية.</p>
    <p>تشكّل هذه الشروط القانونية اتفاقاً ملزماً قانوناً بينك، سواء كنت شخصياً أو بالنيابة عن كيان ("أنت")، وبين شركة
      الذيفاني للتجارة والاستثمار فيما يتعلق بوصولك إلى الخدمات واستخدامك لها. أنت توافق على أنك بوصولك إلى الخدمات تكون
      قد قرأت وفهمت ووافقت على الالتزام بجميع هذه الشروط القانونية. إذا كنت لا توافق على جميع هذه الشروط القانونية، فأنت
      مطالب بعدم استخدام الخدمات.</p>
    <p>الشروط والأحكام الإضافية أو المستندات التكميلية التي قد يتم نشرها على الخدمات من وقت لآخر مدرجة هنا بموجب هذه
      الوثيقة بالإشارة إليها. نحن نحتفظ بالحق، وفقًا لتقديرنا الخاص، في إجراء تغييرات أو تعديلات على هذه الشروط
      القانونية في أي وقت ولأي سبب. سنقوم بتنبيهك بأي تغييرات عن طريق تحديث تاريخ "آخر تحديث" لهذه الشروط القانونية،
      وأنت تتنازل عن أي حق في تلقي إشعار محدد بكل تغيير من هذا القبيل. تتحمل أنت مسؤولية مراجعة هذه الشروط القانونية
      بشكل دوري للبقاء على علم بالتحديثات. ستخضع للتغييرات في أي شروط قانونية تمت مراجعتها وستعتبر أنك على علم
      بالتغييرات في أي شروط قانونية مراجعة وقبولها من خلال استمرار استخدامك للخدمات بعد تاريخ نشر هذه الشروط القانونية
      المعدلة.</p>
  </div>

  <br />

  <div class="hr-container">
    <hr class="hr-text" />
  </div>

  <br />

  <h2>جدول المحتويات</h2>
  <div class="container">
    <ol class="table_of_contents">
      <li class="table_of_content_el mb-1"><a href="#our_services" class="table_of_content_el_a">خدماتنا</a></li>
      <li class="table_of_content_el mb-1"><a href="#intellectual_property_rights" class="table_of_content_el_a">حقوق
          الملكية الفكرية</a>
      </li>
      <li class="table_of_content_el mb-1"><a href="#user_representations" class="table_of_content_el_a">إقرارات
          المستخدم</a></li>
      <li class="table_of_content_el mb-1"><a href="#purchases_and_payment" class="table_of_content_el_a">المشتريات
          والدفع</a></li>
      <li class="table_of_content_el mb-1"><a href="#prohibited_activities" class="table_of_content_el_a">الأنشطة
          المحظورة</a></li>
      <li class="table_of_content_el mb-1"><a href="#user_generated_contributions" class="table_of_content_el_a">مساهمات
          المستخدمين</a>
      </li>
      <li class="table_of_content_el mb-1"><a href="#contribution_licence" class="table_of_content_el_a">رخصة
          المساهمة</a></li>
      <li class="table_of_content_el mb-1"><a href="#services_management" class="table_of_content_el_a">إدارة
          الخدمات</a></li>
      <li class="table_of_content_el mb-1"><a href="#term_and_termination" class="table_of_content_el_a">المدة
          والإنهاء</a></li>
      <li class="table_of_content_el mb-1"><a href="#modifications_and_interruptions"
          class="table_of_content_el_a">التعديلات والانقطاعات</a>
      </li>
      <li class="table_of_content_el mb-1"><a href="#governing_law" class="table_of_content_el_a">القانون الحاكم</a>
      </li>
      <li class="table_of_content_el mb-1"><a href="#dispute_resolution" class="table_of_content_el_a">تسوية
          المنازعات</a></li>
      <li class="table_of_content_el mb-1"><a href="#corrections" class="table_of_content_el_a">التصحيحات</a></li>
      <li class="table_of_content_el mb-1"><a href="#disclaimer" class="table_of_content_el_a">إخلاء المسؤولية</a></li>
      <li class="table_of_content_el mb-1"><a href="#limitations_of_liability" class="table_of_content_el_a">حدود
          المسؤولية</a></li>
      <li class="table_of_content_el mb-1"><a href="#indemnification" class="table_of_content_el_a">التعويض</a>
      </li>
      <li class="table_of_content_el mb-1"><a href="#user_data" class="table_of_content_el_a">بيانات المستخدم</a></li>
      <li class="table_of_content_el mb-1"><a href="#electronic_communications_trasactions_and_signatures"
          class="table_of_content_el_a">الاتصالات والمعاملات والتوقيعات الإلكترونية</a></li>
      <li class="table_of_content_el"><a href="#miscellaneous" class="table_of_content_el_a">أمور أخرى</a></li>
    </ol>
  </div>

  <br />

  <div class="hr-container">
    <hr class="hr-text" />
  </div>

  <br />

  <h2 id="our_services">1. خدماتنا</h2>
  <p>إن المعلومات المقدمة عند استخدام الخدمات ليست مخصصة للتوزيع أو الاستخدام من قبل أي شخص أو كيان في أي منطقة قضائية
    أو بلد يكون فيه هذا التوزيع أو الاستخدام مخالفاً للقانون أو اللوائح أو من شأنه أن يخضعنا لأي شرط تسجيل في هذه
    المنطقة القضائية أو البلد. وبناءً على ذلك، فإن الأشخاص الذين يختارون الوصول إلى الخدمات من مواقع أخرى يفعلون ذلك
    بمبادرة منهم ويتحملون وحدهم مسؤولية الامتثال للقوانين المحلية، إذا كانت القوانين المحلية قابلة للتطبيق وإلى الحد
    الذي تكون فيه هذه القوانين قابلة للتطبيق.</p>

  <br />

  <h2 id="intellectual_property_rights">2. حقوق الملكية الفكرية</h2>
  <h3>ملكيتنا الفكرية</h3>
  <p>نحن المالكون أو المرخص لنا بجميع حقوق الملكية الفكرية في خدماتنا، بما في ذلك جميع التعليمات البرمجية المصدرية
    وقواعد البيانات والوظائف والبرامج وتصميمات الموقع الإلكتروني والصوت والفيديو والنصوص والصور الفوتوغرافية والرسومات
    في الخدمات (يشار إليها مجتمعةً باسم "المحتوى")، بالإضافة إلى العلامات التجارية وعلامات الخدمة والشعارات الواردة فيها
    ("العلامات").</p>
  <p>يتم توفير المحتوى والعلامات في "الخدمات" أو من خلالها "كما هي" لاستخدامك الشخصي أو غير التجاري أو لأغراض العمل
    الداخلي فقط.</p>

  <br />

  <h3>استخدامك لخدماتنا</h3>
  <p>وفقًا لامتثالك لهذه الشروط القانونية، بما في ذلك قسم "الأنشطة المحظورة" أدناه، نمنحك ترخيصًا غير حصري وغير قابل
    للتحويل وقابل للإلغاء من أجل الوصول إلى الخدمات لاستخدامك الشخصي أو غير التجاري أو لأغراض العمل الداخلي فقط. </p>
  <p>باستثناء ما هو منصوص عليه في هذا القسم أو في أي مكان آخر في شروطنا القانونية، لا يجوز نسخ أي جزء من الخدمات أو أي
    محتوى أو علامات أو إعادة إنتاجها أو تجميعها أو إعادة نشرها أو إعادة تحميلها أو تحميلها أو نشرها أو عرضها علنًا أو
    ترميزها أو ترجمتها أو نقلها أو توزيعها أو بيعها أو ترخيصها أو استغلالها لأي غرض تجاري على الإطلاق، دون إذن كتابي
    صريح مسبق منا.</p>
  <p>إذا كنت ترغب في أي استخدام للخدمات أو المحتوى أو العلامات بخلاف ما هو منصوص عليه في هذا القسم أو في أي مكان آخر في
    شروطنا القانونية، يرجى توجيه طلبك إلى: contact@aldhaifanispc.com. في حال منحك الإذن بنشر أو إعادة إنتاج أو عرض أي
    جزء من خدماتنا أو المحتوى الخاص بنا علنًا، يجب عليك تحديدنا بصفتنا مالكي الخدمات أو المحتوى أو العلامات أو المرخصين
    لها والتأكد من ظهور أو إظهار أي إشعار بحقوق النشر أو الملكية عند نشر أو إعادة إنتاج أو عرض المحتوى الخاص بنا.</p>
  <p>نحن نحتفظ بجميع الحقوق غير الممنوحة لك صراحةً في الخدمات والمحتوى والعلامات. سيشكل أي انتهاك لحقوق الملكية الفكرية
    هذه انتهاكًا ماديًّا لشروطنا القانونية وسيتوقف حقك في استخدام خدماتنا على الفور.</p>

  <br />

  <h3>عمليات الإرسال الخاصة بك</h3>
  <p>يُرجى مراجعة هذا القسم وقسم "الأنشطة المحظورة" بعناية قبل استخدام خدماتنا لفهم (أ) الحقوق التي تمنحنا إياها و(ب)
    الالتزامات التي عليك عند نشر أو تحميل أي محتوى من خلال الخدمات.</p>
  <p><strong>التقديمات</strong>: بإرسالك مباشرةً أي سؤال أو تعليق أو اقتراح أو فكرة أو تعليقات أو ملاحظات أو معلومات
    أخرى حول الخدمات ("التقديمات")، فإنك توافق على التنازل لنا عن جميع حقوق الملكية الفكرية في هذه التقديمات. أنت توافق
    على أننا سنمتلك هذه التقديمات ويحق لنا استخدامها ونشرها دون قيود لأي غرض قانوني، تجاري أو غير ذلك، دون إقرار أو
    تعويض لك.</p>
  <p>أنت مسؤول عما تقوم بنشره أو تحميله: من خلال إرسالك لنا عمليات الإرسال من خلال أي جزء من الخدمات فإنك:
  </p>
  <ol>
    <li>تأكد أنك قد قرأت ووافقت على "الأنشطة المحظورة" الخاصة بنا ولن تقوم بنشر أو إرسال أو نشر أو تحميل أو نقل أي إرسال
      غير قانوني أو مضايق أو مسبب للكراهية أو ضار أو تشهيري أو فاحش أو تنمر أو مسيء أو تمييزي أو تهديدي لأي شخص أو
      مجموعة أو جنسي صريح أو كاذب أو غير دقيق أو خادع أو مضلل من خلال الخدمات.</li>
    <li>تتنازل، بالقدر الذي يسمح به القانون المعمول به، عن أي وجميع الحقوق المعنوية لأي من هذه التقديمات</li>
    <li>تضمن أن أي من هذه التقديمات أصلية لك أو أن لديك الحقوق والتراخيص اللازمة لتقديم مثل هذه التقديمات وأن لديك
      السلطة الكاملة لمنحنا الحقوق المذكورة أعلاه فيما يتعلق بتقديماتك.</li>
    <li>تتعهد وتقر بأن تقديماتك لا تتضمن معلومات سرية. أنت وحدك المسؤول عن تقديماتك وأنت توافق بشكل صريح على تعويضنا عن
      أي وجميع الخسائر التي قد نتكبدها بسبب انتهاكك (أ) لهذا القسم، أو (ب) حقوق الملكية الفكرية لأي طرف ثالث، أو (ج)
      القانون المعمول به.</li>
  </ol>

  <br />

  <h2 id="user_representations">3. بيانات المستخدم</h2>
  <p>باستخدامك للخدمات، فإنك تقر وتضمن ما يلي: (1) أنك تتمتع بالأهلية القانونية وتوافق على الامتثال لهذه الشروط
    القانونية؛ (2) أنك لست قاصرًا في المنطقة القضائية التي تقيم فيها؛ (3) أنك لن تدخل إلى الخدمات من خلال وسائل آلية أو
    غير بشرية، سواء من خلال روبوت أو برنامج نصي أو غير ذلك؛ (4) أنك لن تستخدم الخدمات لأي غرض غير قانوني أو غير مصرح به؛
    (5) أن استخدامك للخدمات لن ينتهك أي قانون أو لائحة معمول بها.</p>

  <br />

  <h2 id="purchases_and_payment">4. المشتريات والدفع</h2>
  <p>أنت توافق على تقديم معلومات الشراء والحساب الحالية والكاملة والصحيحة لجميع عمليات الشراء التي تتم عبر الخدمات. أنت
    توافق كذلك على تحديث معلومات الحساب والدفع على الفور، بما في ذلك عنوان البريد الإلكتروني وطريقة الدفع وتاريخ انتهاء
    صلاحية بطاقة الدفع، حتى نتمكن من إكمال معاملاتك والاتصال بك حسب الحاجة. ستتم إضافة ضريبة المبيعات إلى سعر المشتريات
    حسب ما نراه مطلوبًا من جانبنا. يجوز لنا تغيير الأسعار في أي وقت. يجب أن تكون جميع المدفوعات بالريال العماني.</p>
  <p>نحتفظ بالحق في رفض أي طلب يتم تقديمه من خلال الخدمات. يجوز لنا، وفقًا لتقديرنا الخاص، تقييد أو إلغاء الكميات
    المشتراة لكل شخص أو لكل أسرة أو لكل طلب. قد تشمل هذه القيود الطلبات المقدمة من قبل أو تحت نفس حساب العميل أو نفس
    طريقة الدفع و/أو الطلبات التي تستخدم نفس عنوان الفاتورة أو الشحن.</p>

  <br />

  <h2 id="prohibited_activities">5. . الأنشطة المحظورة</h2>
  <p>لا يجوز لك الوصول إلى الخدمات أو استخدامها لأي غرض آخر غير الغرض الذي نوفر الخدمات من أجله. لا يجوز استخدام الخدمات
    فيما يتعلق بأي مساعٍ تجارية باستثناء تلك التي نقرها أو نوافق عليها على وجه التحديد.</p>
  <p>بصفتك مستخدمًا للخدمات، فإنك توافق على عدم القيام بما يلي:</p>
  <ul>
    <li>استرداد البيانات أو أي محتوى آخر من الخدمات بشكل منهجي لإنشاء أو تجميع، بشكل مباشر أو غير مباشر، مجموعة أو تجميع
      أو قاعدة بيانات أو دليل دون إذن كتابي منا.</li>
    <li>التحايل على الميزات المتعلقة بالأمان في الخدمات أو تعطيلها أو التدخل فيها بأي طريقة أخرى، بما في ذلك الميزات
      التي تمنع أو تقيد استخدام أو نسخ أي محتوى أو تفرض قيودًا على استخدام الخدمات و/أو المحتوى المتضمن فيها.</li>
    <li>الاستخفاف بنا و/أو بالخدمات أو تشويهها أو الإضرار بها أو بنا و/أو بالخدمات بأي طريقة أخرى.</li>
    <li>استخدام أي معلومات تم الحصول عليها من الخدمات من أجل مضايقة شخص آخر أو الإساءة إليه أو إيذائه.</li>
    <li>الاستخدام غير السليم لخدمات الدعم الخاصة بنا أو تقديم تقارير خاطئة.</li>
    <li>استخدام الخدمات بطريقة لا تتفق مع أي قوانين أو لوائح معمول بها.</li>
    <li>القيام بتأطير غير مصرح به للخدمات أو ربطها بالخدمات.</li>
    <li>تحميل أو نقل (أو محاولة رفع أو تحويل) الفيروسات أو أحصنة طروادة أو غيرها من الفيروسات، بما في ذلك الاستخدام
      المفرط للأحرف الكبيرة والرسائل غير المرغوب فيها (النشر المستمر للنصوص المتكررة)، التي تتداخل مع استخدام أي طرف
      للخدمات والتمتع بها دون انقطاع أو تعديل أو إعاقة أو تعطيل أو تغيير أو التدخل في استخدام الخدمات أو ميزاتها أو
      وظائفها أو تشغيلها أو صيانتها.</li>
    <li>القيام بأي استخدام آلي للنظام، مثل استخدام البرامج النصية لإرسال التعليقات أو الرسائل، أو استخدام أي تنقيب عن
      البيانات أو الروبوتات أو أدوات جمع واستخراج البيانات المماثلة.</li>
    <li>حذف حقوق الطبع والنشر أو إشعار حقوق الملكية الأخرى من أي محتوى.</li>
    <li>محاولة انتحال شخصية مستخدم آخر أو شخص آخر.</li>
    <li>تحميل أو نقل (أو محاولة رفع أو إرسال) أي مواد تعمل كآلية سلبية أو نشطة لجمع المعلومات أو نقلها، بما في ذلك على
      سبيل المثال لا الحصر، تنسيقات تبادل الرسومات الواضحة ("gifs") أو وحدات البكسل 1 × 1 أو أجهزة التنصت على الويب أو
      ملفات تعريف الارتباط أو غيرها من الأجهزة المماثلة (يشار إليها أحيانًا باسم "برامج التجسس" أو "آليات الجمع السلبية"
      أو "pcms").</li>
    <li>التداخل مع الخدمات أو الشبكات أو الخدمات المتصلة بالخدمات، أو تعطيلها أو خلق عبء لا مبرر له عليها.</li>
    <li>مضايقة أو إزعاج أو ترهيب أو تهديد أي من موظفينا أو وكلائنا المشاركين في تقديم أي جزء من الخدمات لك.</li>
    <li>محاولة تجاوز أي تدابير خاصة بالخدمات مصممة لمنع أو تقييد الوصول إلى الخدمات أو أي جزء من الخدمات أو تقييد الوصول
      إليها.</li>
    <li>نسخ برمجيات الخدمات أو تكييفها، بما في ذلك على سبيل المثال لا الحصر Flash أو PHP أو HTML أو JavaScript أو غيرها
      من التعليمات البرمجية.</li>
    <li>باستثناء ما يسمح به القانون المعمول به، فك شفرة أي من البرمجيات التي تتألف منها الخدمات أو تشكل بأي شكل من
      الأشكال جزءًا منها، أو فك تجميعها أو تفكيكها أو عكس هندستها.</li>
    <li>باستثناء ما قد يكون نتيجة استخدام محرك البحث القياسي أو استخدام متصفح الإنترنت، أو استخدام أو تشغيل أو تطوير أو
      توزيع أي نظام آلي، بما في ذلك على سبيل المثال لا الحصر، أي عنكبوت أو روبوت أو أداة غش أو أداة كشف أو كاشط أو قارئ
      غير متصل بالإنترنت يصل إلى الخدمات، أو استخدام أو تشغيل أي برنامج نصي أو أي برنامج آخر غير مصرح به.</li>
    <li>إجراء أي استخدام غير مصرح به للخدمات، بما في ذلك جمع أسماء المستخدمين و/أو عناوين البريد الإلكتروني للمستخدمين
      بوسائل إلكترونية أو غيرها من الوسائل لغرض إرسال بريد إلكتروني غير مرغوب فيه، أو إنشاء حسابات مستخدمين بوسائل آلية
      أو تحت ادعاءات كاذبة.</li>
    <li>استخدام الخدمات كجزء من أي جهد لمنافستنا أو استخدام الخدمات و/أو المحتوى في أي مسعى مدر للدخل أو مشروع تجاري
    </li>
    <li>استخدام الخدمات للإعلان عن السلع والخدمات أو عرض بيعها.</li>
  </ul>

  <br />

  <h2 id="user_generated_contributions">6. المساهمات التي ينشئها المستخدم</h2>
  <p>لا تتيح الخدمات للمستخدمين إرسال محتوى أو نشره. قد نوفر لك الفرصة لإنشاء أو إرسال أو نشر أو عرض أو نقل أو تنفيذ أو
    بث أو توزيع محتوى ومواد إلينا أو عبر الخدمات، بما في ذلك على سبيل المثال لا الحصر النصوص أو الكتابات أو مقاطع
    الفيديو أو الصوت أو الصور الفوتوغرافية أو الرسومات أو التعليقات أو الاقتراحات أو المعلومات الشخصية أو غيرها من
    المواد (يشار إليها مجتمعةً باسم "المساهمات")..</p>
  <p>قد تكون المساهمات قابلة للعرض من قبل مستخدمين آخرين للخدمات ومن خلال مواقع ويب تابعة لجهات خارجية. عند إنشاء أو
    إتاحة أي مساهمات، فإنك بذلك تقر وتضمن ما يلي:</p>
  <ul>
    <li>لا ينتهك إنشاء مساهماتك أو توزيعها أو نقلها أو عرضها علنًا أو أدائها أو الوصول إليها أو تنزيلها أو نسخها حقوق
      الملكية، بما في ذلك على سبيل المثال لا الحصر حقوق الطبع والنشر أو براءات الاختراع أو العلامات التجارية أو الأسرار
      التجارية أو الحقوق المعنوية لأي طرف ثالث.</li>
    <li>أنت منشئ ومالك أو لديك التراخيص والحقوق والموافقات والإفراجات والأذونات اللازمة لاستخدام وتفويضنا والخدمات
      والمستخدمين الآخرين للخدمات لاستخدام مساهماتك بأي طريقة متوخاة في الخدمات وهذه الشروط القانونية.</li>
    <li>حصولك على موافقة خطية و/أو إخلاء سبيل و/أو إذن خطي من كل شخص يمكن التعرف عليه في مساهماتك لاستخدام اسم أو صورة
      كل شخص يمكن التعرف عليه لتمكين إدراج واستخدام مساهماتك بأي طريقة تتوخاها الخدمات وهذه الشروط القانونية.</li>
    <li>أن تكون مساهماتك غير كاذبة أو غير دقيقة أو مضللة.</li>
    <li>مساهماتك ليست إعلانات غير مرغوب فيها أو غير مصرح بها أو مواد ترويجية أو مخططات هرمية أو رسائل متسلسلة أو رسائل
      غير مرغوب فيها أو رسائل بريدية غير مرغوب فيها أو رسائل بريدية جماعية أو غيرها من أشكال الإغراء.</li>
    <li>ألا تكون مساهماتك فاحشة أو بذيئة أو فاسقة أو فاجرة أو عنيفة أو مضايقة أو تشهيرية أو افترائية أو غير ذلك من
      الأمور المرفوضة (كما نحددها نحن).</li>
    <li>لا تسخر مساهماتك من أي شخص أو تسخر منه أو تستهزئ به أو تستخف به أو ترهبه أو تسيء إليه.</li>
    <li>لا تُستخدم مساهماتك لمضايقة أو تهديد (بالمعنى القانوني لهذه المصطلحات) أي شخص آخر أو للترويج للعنف ضد شخص معين
      أو فئة معينة من الأشخاص.</li>
    <li>لا تنتهك مساهماتك أي قانون أو لائحة أو قاعدة معمول بها.</li>
    <li>مساهماتك لا تنتهك الخصوصية أو حقوق الدعاية لأي طرف ثالث.</li>
    <li>لا تنتهك مساهماتك أي قانون معمول به فيما يتعلق بالمواد الإباحية المتعلقة بالأطفال، أو تهدف إلى حماية صحة أو
      رفاهية القاصرين.</li>
    <li>لا تتضمن مساهماتك أي تعليقات مسيئة مرتبطة بالعرق أو الأصل القومي أو الجنس أو التفضيل الجنسي أو الإعاقة الجسدية.
    </li>
    <li>لا تنتهك مساهماتك أو ترتبط بمواد تنتهك أي حكم من هذه الشروط القانونية أو أي قانون أو لائحة معمول بها.</li>
  </ul>
  <p>أي استخدام للخدمات ينتهك ما سبق ذكره ينتهك هذه الشروط القانونية وقد يؤدي، من بين أمور أخرى، إلى إنهاء أو تعليق
    حقوقك في استخدام الخدمات.</p>

  <br />

  <h2 id="contribution_licence">7. ترخيص المساهمة</h2>
  <p>توافق أنت و"الخدمات" على أنه يجوز لنا الوصول إلى أي معلومات وبيانات شخصية تقدمها أنت واختياراتك وتخزينها ومعالجتها
    واستخدامها.</p>
  <p>من خلال تقديم اقتراحات أو ملاحظات أخرى تتعلق بالخدمات، فإنك توافق على أنه يمكننا استخدام هذه الملاحظات ومشاركتها
    لأي غرض دون تعويضك. نحن لا نؤكد أي ملكية لمساهماتك. أنت تحتفظ بالملكية الكاملة لجميع مساهماتك وأي حقوق ملكية فكرية
    أو حقوق ملكية أخرى مرتبطة بمساهماتك. نحن لسنا مسؤولين عن أي بيانات أو إقرارات في مساهماتك المقدمة من قبلك في أي مجال
    على الخدمات. أنت وحدك المسؤول عن مساهماتك في الخدمات وأنت توافق صراحةً على إعفائنا من أي مسؤولية والامتناع عن اتخاذ
    أي إجراء قانوني ضدنا فيما يتعلق بمساهماتك..</p>

  <br />

  <h2 id="services_management">8. إدارة الخدمات</h2>
  <p>نحتفظ بالحق، ولكننا غير ملزمين به (1) مراقبة الخدمات بحثًا عن أي انتهاكات لهذه الشروط القانونية; (2) اتخاذ
    الإجراءات القانونية المناسبة ضد أي شخص ينتهك القانون أو هذه الشروط القانونية، وفقًا لتقديرنا وحدنا، بما في ذلك على
    سبيل المثال لا الحصر، إبلاغ سلطات إنفاذ القانون عن هذا المستخدم؛ (3) وفقًا لتقديرنا وحدنا ودون قيود، رفض أو تقييد
    الوصول إلى أي من مساهماتك أو أي جزء منها أو الحد من إتاحتها أو تعطيلها (بالقدر الممكن تقنيًا); (4) وفقًا لتقديرنا
    وحدنا وبدون قيود أو إشعار أو مسؤولية، إزالة جميع الملفات والمحتوى المفرط في الحجم أو الذي يشكل عبئًا على أنظمتنا بأي
    شكل من الأشكال؛ و(5) إدارة الخدمات بطريقة أخرى مصممة لحماية حقوقنا وممتلكاتنا وتسهيل الأداء السليم للخدمات.</p>

  <br />

  <h2 id="term_and_termination">9. المدة والإنهاء</h2>
  <p>تظل هذه الشروط القانونية سارية المفعول والتأثير الكامل أثناء استخدامك للخدمات. دون تقييد أي بند آخر من هذه الشروط
    القانونية، نحتفظ بالحق، وفقًا لتقديرنا الخاص ودون إشعار أو مسؤولية، في منع الوصول إلى الخدمات واستخدامها (بما في ذلك
    حظر عناوين بروتوكول إنترنت معينة)، لأي شخص لأي سبب أو بدون سبب، بما في ذلك على سبيل المثال لا الحصر خرق أي تعهد أو
    ضمان أو تعهد وارد في هذه الشروط القانونية أو أي قانون أو لائحة معمول بها. يجوز لنا إنهاء استخدامك أو مشاركتك في
    الخدمات أو حذف أي محتوى أو معلومات قمت بنشرها في أي وقت، دون سابق إنذار، وفقًا لتقديرنا الخاص.</p>

  <br />

  <h2 id="modifications_and_interruptions">10. التعديلات والانقطاعات</h2>
  <p>نحن نحتفظ بالحق في تغيير محتويات الخدمات أو تعديلها أو إزالتها في أي وقت أو لأي سبب من الأسباب وفقًا لتقديرنا الخاص
    دون إشعار مسبق. ومع ذلك، نحن غير ملزمين بتحديث أي معلومات على خدماتنا. كما أننا نحتفظ بالحق في تعديل أو إيقاف كل
    الخدمات أو جزء منها دون إشعار في أي وقت دون إشعار. لن نتحمل المسؤولية تجاهك أو تجاه أي طرف ثالث عن أي تعديل أو تغيير
    في الأسعار أو تعليق الخدمات أو وقفها.
  </p>
  <p>لا يمكننا ضمان توفر الخدمات في جميع الأوقات. قد نواجه مشاكل في الأجهزة أو البرامج أو غيرها من المشاكل أو قد نحتاج
    إلى إجراء صيانة تتعلق بالخدمات، مما يؤدي إلى انقطاع أو تأخير أو أخطاء. ونحتفظ بالحق في تغيير الخدمات أو مراجعتها أو
    تحديثها أو تعليقها أو إيقافها أو تعديلها في أي وقت أو لأي سبب دون إخطارك. أنت توافق على أننا لا نتحمل أي مسؤولية من
    أي نوع عن أي خسارة أو ضرر أو إزعاج ناتج عن عدم قدرتك على الوصول إلى الخدمات أو استخدامها خلال أي فترة توقف أو انقطاع
    للخدمات. لن يُفسر أي شيء في هذه الشروط القانونية على أنه يلزمنا بصيانة الخدمات ودعمها أو توفير أي تصحيحات أو تحديثات
    أو إصدارات تتعلق بها.</p>

  <br />

  <h2 id="governing_law">11. القانون الحاكم</h2>
  <p>تخضع هذه الشروط القانونية لقوانين سلطنة عُمان وتحدد وفقاً لقوانين السلطنة. وتوافق أنت وشركة الذيفاني للتجارة
    والاستثمار وبنفسك موافقة لا رجعة فيها على أن محاكم السلطنة هي صاحبة الاختصاص الحصري لحل أي نزاع قد ينشأ فيما يتعلق
    بهذه الشروط القانونية.</p>

  <br />

  <h2 id="dispute_resolution">12. تسوية المنازعات</h2>
  <p>أنت توافق على إخضاع جميع المنازعات المتعلقة بهذه الشروط القانونية أو العلاقة القانونية التي تنشئها هذه الشروط
    القانونية لاختصاص محاكم سلطنة عُمان. كما تحتفظ شركة الذيفاني للتجارة والاستثمار بالحق في رفع الدعاوى المتعلقة بموضوع
    المسألة في محاكم الدولة التي تقيم فيها أو، إذا كانت هذه الشروط القانونية قد أُبرمت في سياق تجارتك أو مهنتك، في
    الدولة التي يقع فيها مكان عملك الرئيسي.</p>

  <br />

  <h2 id="corrections">13. التصحيحات</h2>
  <p>قد توجد معلومات على "الخدمات" تحتوي على أخطاء مطبعية أو عدم دقة أو سهو، بما في ذلك الأوصاف والتسعير والتوافر
    ومعلومات أخرى متنوعة. نحن نحتفظ بالحق في تصحيح أي أخطاء أو عدم دقة أو سهو وتغيير أو تحديث المعلومات على الخدمات في
    أي وقت، دون إشعار مسبق.</p>

  <br />

  <h2 id="disclaimer">14. إخلاء المسؤولية</h2>
  <p>يتم تقديم الخدمات على أساس ما هو متاح وحسبما هو متاح. أنت توافق على أن استخدامك للخدمات سيكون على مسؤوليتك وحدك.
    إلى أقصى حد يسمح به القانون، نحن نخلي مسؤوليتنا عن جميع الضمانات، الصريحة أو الضمنية، فيما يتعلق بالخدمات واستخدامك
    لها، بما في ذلك، على سبيل المثال لا الحصر، الضمانات الضمنية الخاصة بقابلية التسويق والملاءمة لغرض معين وعدم
    الانتهاك. نحن لا نقدم أي ضمانات أو إقرارات بشأن دقة أو اكتمال محتوى الخدمات أو محتوى أي مواقع إلكترونية أو تطبيقات
    الهاتف المحمول المرتبطة بالخدمات، ولن نتحمل أي مسؤولية أو التزام عن أي (1) أخطاء أو تجاوزات أو عدم دقة المحتوى
    والمواد، (2) أو إصابة شخصية أو أضرار في الممتلكات، من أي نوع كان, ناتجة عن وصولك إلى الخدمات واستخدامك لها، (3) أي
    وصول غير مصرح به إلى خدماتنا الآمنة أو استخدامها و/أو أي وجميع المعلومات الشخصية و/أو المعلومات المالية المخزنة
    فيها، (4) أي انقطاع أو توقف الإرسال إلى الخدمات أو منها، (5) أي أخطاء أو فيروسات أو برمجيات حصان طروادة أو ما شابه
    ذلك مما قد ينتقل إلى الخدمات أو من خلالها من قبل أي طرف ثالث، و/أو (6) أي أخطاء أو سهو في أي محتوى أو مواد أو عن أي
    خسارة أو ضرر من أي نوع يحدث نتيجة استخدام أي محتوى منشور أو منقول أو متاح بطريقة أخرى عبر الخدمات. نحن لا نضمن أو
    نؤيد أو نكفل أو نتحمل المسؤولية عن أي منتج أو خدمة يتم الإعلان عنها أو عرضها من قبل طرف ثالث من خلال الخدمات أو أي
    موقع إلكتروني مرتبط تشعبيًا أو أي موقع إلكتروني أو تطبيق جوال يظهر في أي لافتة أو إعلانات أخرى، ولن نكون طرفًا أو
    مسؤولين بأي شكل من الأشكال عن مراقبة أي معاملة بينك وبين أي طرف ثالث من مقدمي المنتجات أو الخدمات. كما هو الحال مع
    شراء منتج أو خدمة من خلال أي وسيط أو في أي بيئة، يجب عليك استخدام أفضل تقديراتك وتوخي الحذر عند الاقتضاء.</p>

  <br />

  <h2 id="limitations_of_liability">15. حدود المسؤولية</h2>
  <p>لن نتحمل نحن أو مديرينا أو موظفينا أو وكلائنا بأي حال من الأحوال المسؤولية تجاهك أو تجاه أي طرف ثالث عن أي أضرار
    مباشرة أو غير مباشرة أو تبعية أو نموذجية أو عرضية أو خاصة أو تأديبية، بما في ذلك خسارة الأرباح أو الإيرادات المفقودة
    أو خسارة البيانات أو غيرها من الأضرار الناشئة عن استخدامك للخدمات، حتى لو تم إخطارنا بإمكانية حدوث مثل هذه الأضرار.
  </p>

  <br />

  <h2 id="indemnification">16. التعويض</h2>
  <p>أنت توافق على الدفاع عنا وتعويضنا وإبراء ذمتنا، بما في ذلك شركاتنا الفرعية والشركات التابعة لنا وجميع مسؤولينا
    ووكلائنا وشركائنا وموظفينا، من وضد أي خسارة أو ضرر أو مسؤولية أو مطالبة أو طلب، بما في ذلك أتعاب المحاماة المعقولة
    والنفقات، التي يتقاضاها أي طرف ثالث بسبب أو ناشئة عن: (1) استخدام الخدمات؛ (2) خرق هذه الشروط القانونية؛ (3) أي خرق
    لإقراراتك وضماناتك المنصوص عليها في هذه الشروط القانونية؛ (4) انتهاكك لحقوق طرف ثالث، بما في ذلك على سبيل المثال لا
    الحصر حقوق الملكية الفكرية؛ أو (5) أي فعل ضار علني تجاه أي مستخدم آخر للخدمات الذي اتصلت به عبر الخدمات. على الرغم
    مما سبق ذكره، فإننا نحتفظ بالحق، على نفقتك الخاصة، في تولي الدفاع الحصري والسيطرة على أي مسألة يُطلب منك تعويضنا
    عنها، وأنت توافق على التعاون، على نفقتك الخاصة، في دفاعنا عن مثل هذه المطالبات. سنبذل جهودًا معقولة لإخطارك بأي
    مطالبة أو دعوى أو إجراء أو مقاضاة من هذا القبيل تخضع لهذا التعويض فور علمنا بها.</p>

  <br />

  <h2 id="user_data">17. بيانات المستخدم</h2>
  <p>سنحتفظ ببعض البيانات التي ترسلها إلى الخدمات لغرض إدارة أداء الخدمات، بالإضافة إلى البيانات المتعلقة باستخدامك
    للخدمات. على الرغم من أننا نقوم بإجراء عمليات نسخ احتياطية روتينية منتظمة للبيانات، إلا أنك وحدك المسؤول عن جميع
    البيانات التي ترسلها أو التي تتعلق بأي نشاط قمت به باستخدام الخدمات. أنت توافق على أننا لا نتحمل أي مسؤولية تجاهك عن
    أي فقدان أو تلف لأي من هذه البيانات، وأنت تتنازل بموجب هذه الاتفاقية عن أي حق في اتخاذ إجراء ضدنا ينشأ عن أي فقدان
    أو تلف لهذه البيانات.</p>

  <br />

  <h2 id="electronic_communications_trasactions_and_signatures">18. الاتصالات والمعاملات والتوقيعات الإلكترونية</h2>
  <p>تشكل زيارة الخدمات وإرسال رسائل البريد الإلكتروني إلينا واستكمال النماذج عبر الإنترنت اتصالات إلكترونية.</p>
  <p>أنت توافق على تلقي الاتصالات الإلكترونية، وتوافق على أن جميع الاتفاقيات والإشعارات والإفصاحات وغيرها من الاتصالات
    التي نقدمها لك إلكترونيًا، عبر البريد الإلكتروني وعلى الخدمات، تفي بأي شرط قانوني بأن تكون هذه الاتصالات مكتوبة. أنت
    توافق بموجبه على استخدام التوقيعات الإلكترونية والعقود والأوامر والسجلات الأخرى، وعلى التسليم الإلكتروني للإشعارات
    والسياسات وسجلات المعاملات التي نبدأها أو نتممها من قبلنا أو عبر الخدمات. أنت تتنازل بموجب هذه الاتفاقية عن أي حقوق
    أو متطلبات بموجب أي قوانين أو لوائح أو قواعد أو مراسيم أو تشريعات أخرى في أي ولاية قضائية تتطلب توقيعًا أصليًا أو
    تسليم أو الاحتفاظ بسجلات غير إلكترونية، أو على المدفوعات أو منح الاعتمادات بأي وسيلة أخرى غير الوسائل الإلكترونية.
  </p>

  <br />

  <h2 id="miscellaneous">19. أمور أخرى</h2>
  <p>تشكل هذه الشروط القانونية وأية سياسات أو قواعد تشغيل منشورة من جانبنا على الخدمات أو فيما يتعلق بالخدمات كامل
    الاتفاق والتفاهم بينك وبيننا. لا يعتبر إخفاقنا في ممارسة أو إنفاذ أي حق أو حكم من هذه الشروط القانونية بمثابة تنازل
    عن هذا الحق أو الحكم.</p>
  <p>تعمل هذه الشروط القانونية إلى أقصى حد يسمح به القانون. يجوز لنا التنازل عن أي أو كل حقوقنا والتزاماتنا للآخرين في
    أي وقت. لن نكون مسؤولين أو ملزمين عن أي خسارة أو ضرر أو تأخير أو إخفاق في العمل ناتج عن أي سبب خارج عن سيطرتنا
    المعقولة. إذا تقرر أن أي حكم أو جزء من حكم من هذه الشروط القانونية غير قانوني أو باطل أو غير قابل للتنفيذ، فإن هذا
    الحكم أو جزء من الحكم يعتبر قابلاً للفصل من هذه الشروط القانونية ولا يؤثر على صلاحية ونفاذ أي أحكام أخرى. لا يوجد أي
    مشروع مشترك أو شراكة أو توظيف أو علاقة وكالة تنشأ بينك وبيننا نتيجة لهذه الشروط القانونية أو استخدام
    الخدمات. أنت توافق على عدم تفسير هذه الشروط القانونية ضدنا بحكم صياغتها. أنت تتنازل بموجبه عن أي وجميع الدفوع التي
    قد تكون لديك استنادًا إلى الشكل الإلكتروني لهذه الشروط القانونية وعدم توقيع الأطراف على هذه الشروط القانونية.</p>

</div>
{% endblock %}