{% extends "base.html" %}

{% set meta_description = "" %}

{% block title %}Super Gel - Terms of Guarantee{% endblock %}

{% block page_stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/terms_guarantee-style.css') }}" />
{% endblock %}

{% block page_body %}
<div class="container pt-5 pb-5">
  <h1>Terms of Guarantee</h1>
  <small class="text-muted">Last updated March 13, 2024</small>

  <div class="hr-container">
    <hr class="hr-text" />
  </div>

  <h2>Conditions for Valid Claims</h2>
  <br />
  <h3>1. Strict Adherence to Application Instructions:</h3>
  <p>The claimant must have diligently followed the application instructions provided with the Super Gel product. This
    includes adhering to the recommended dosage, application techniques, and targeted areas specified in the
    instructions. Any deviation from these guidelines may impact the effectiveness of the product and invalidate the
    claim.</p>

  <h3>2. Visual and Written Evidence</h3>
  <p>Substantiate any claim with both visual and written evidence demonstrating the alleged ineffectiveness. </p>
  <p><strong>Visual Evidence</strong>: Provide clear, high-resolution images or videos of treated areas both before and
    after application.
    These visuals should clearly depict the presence of cockroaches or ants, as well as the application of Super Gel.
    Time-stamped images or videos are preferred to accurately document the progression.</p>
  <p><strong>Written Evidence</strong>: Alongside visual evidence, furnish a detailed written account of the application
    process. Include
    dates, times, and specific steps followed during the application. This written evidence serves to provide context
    and further corroborate the effectiveness of the product.</p>

  <br />

  <h2>Submission Process for Claims:</h2>
  <p>1. <strong>Contact Us</strong>: Promptly reach out to our customer support team within a reasonable timeframe from
    the initial
    application. Communication channels include email, phone, or our online contact form</p>
  <p>2. <strong>Provide Comprehensive Evidence</strong>: Compile and submit comprehensive visual and written evidence to
    support the
    claim. Ensure that all evidence is clear, accurate, and relevant to the issue at hand.</p>
  <p>3. <strong>Thorough Review Process</strong>: Our dedicated team will conduct a thorough review of the submitted
    evidence. This
    review process involves meticulous scrutiny to assess the validity of the claim and determine the appropriate course
    of action.</p>
  <p>4. <strong>Resolution</strong>: If the claim is deemed valid based on the evidence provided, appropriate measures
    will be taken to
    address the issue. Potential resolutions may include a product replacement, refund, or alternative remedy as deemed
    suitable by Aldhaifani Trading and Investment Co.</p>
  <br />
  <br />

  <p class="text-muted"><strong>Note</strong>: Terms and conditions of Aldhaifani Trading and Investment Co apply to all
    claims submitted under
    this policy.</p>
</div>
{% endblock %}