{% extends "base-rtl.html" %}

{% set meta_description = "من هم الأشخاص الذين يقفون وراء سوبر جل، منتج شركة الذيفاني للتجارة والاستثمار ش.ش.و.." %}

{% block title %}سوبر جل - شركة الذيفاني للتجارة والاستثمار ش ش و، من نحن؟{% endblock %}

{% block page_stylesheet %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/who_we_are-style.css') }}" />
{% endblock %}

{% set active_page = "who_we_are" -%}

{% block page_body %}
<!-- Hero -->
<div class="header" dir="ltr">
  <div class="header-container container">
    <div class="row text-center">
      <div class="col">
        <h1>من نحن</h1>
      </div>
    </div>
  </div>
</div>
<!-- Who We Are List -->
<div class="container who_we_are_list">
  <div class="row text-center justify-content-between" style="row-gap: 1.5rem">
    <div class="col-12 text-center">
      <p class="lead intro_text text-justify">
        مرحبا بكم في شركة الذيفاني للتجارة والاستثمار ، الشركة الرائدة
        المتميزة في الصناعة التحويلية مع إرث غني من الابتكار والتميز. تكشف
        قصتنا كدليل على التزامنا الثابت بتقديم حلول متطورة تتجاوز الحدود
        التقليدية. تأسست شركة الذيفاني للتجارة والاستثمار لإعادة تعريف
        مشهد مكافحة الآفات ، وقد برزت كاسم موثوق به ، يخدم الاحتياجات
        المتنوعة للمجتمعات في جميع أنحاء المنطقة.
      </p>
    </div>
    <div class="col-lg-6 col-12">
      <h3 class="list_title">إرثنا المتميز</h3>
      <p class="lead list_text text-justify">
        تأسست شركة الذيفاني للتجارة والاستثمار على مبادئ الابتكار
        والاستدامة والتركيز على العملاء ، وقد سعت باستمرار للتميز منذ
        إنشائها. إرثنا ليس مجرد جدول زمني ولكن رحلة دفع الحدود, تقديم حلول
        لتغيير قواعد المجال, وتتطور باستمرار لتلبية المطالب الديناميكية
        لعملائنا المميزين.
      </p>
    </div>
    <div class="col-lg-6 col-12">
      <h3 class="list_title">سوبر جل - الدقة في مكافحة الآفات</h3>
      <p class="lead list_text text-justify">
        في قلب التزامنا بالابتكار يقف سوبر جل ، حل مكافحة الآفات الرائد
        لدينا. أكثر من مجرد منتج ، سوبر جل يجسد الدقة في مكافحة الآفات.
        وضعت مع الخبرة والدعم من قبل تركيبات متقدمة ، سوبر جل يقف كبديل
        فعال وآمن بيئيا ، وسهلة الاستخدام لطرق مكافحة الآفات التقليدية.
      </p>
      <a href="/i/ar/how_to_use" class="btn btn-primary">اقراء المزيد</a>
    </div>
    <div class="col-lg-6 col-12">
      <h3 class="list_title">التزامنا بالاستدامة</h3>
      <p class="lead list_text text-justify">
        إلى جانب المنتجات ، يمتد التزامنا إلى الاستدامة. تسعى شركة
        الذيفاني للتجارة والاستثمار ش ش و بنشاط للحصول على تركيبات صديقة
        للبيئة ، وتقليل التأثير البيئي ، واحتضان ممارسات التصنيع المسؤولة.
        يجسد سوبر جل هذا الالتزام ، حيث يوفر مكافحة فعالة للآفات مع
        المساهمة في كوكب أكثر خضرة.
      </p>
    </div>
    <div class="col-lg-6 col-12">
      <h3 class="list_title">رؤيتنا للمستقبل</h3>
      <p class="lead list_text text-justify">
        بالنظر إلى المستقبل ، تتمثل رؤيتنا في مواصلة قيادة الصناعة في
        الابتكار والاستدامة ورضا العملاء. تطمح شركة الذيفاني للتجارة
        والاستثمار ش ش و إلى أن تكون أكثر من مجرد شركة مصنعة – فنحن نهدف
        إلى أن نكون حافزا للتغيير الإيجابي ، ووضع معايير جديدة في قطاعي
        التصنيع ومكافحة الآفات.
      </p>
    </div>
  </div>
</div>
{% endblock %}